@using PuzzleHunt.Web
@{
    ViewBag.Title = @Html.Title("Contacts");
}

<h2>Contacts and Credits</h2>

<p>
If you would like to contact the hunt organizers or have any issues with the website, contact Infil at <strong>infil AT thengamer DOT com</strong> 
(email) or <strong>Infil12</strong> (AIM), QB at <strong>CieloAzor</strong> (AIM) or Neo at <strong>patrick DOT johannessen AT gmail DOT com</strong>
(email) or <strong>Neo26988</strong> (AIM).
</p>

<p>
Puzzle Hunt Organizer: Ricky "Infil" Pusch, Josh "QB" Lay"<br>
Website Developer and Administrator: Patrick "Neo" Johannessen<br>
Puzzle Designers:
</p><ul>
<li>Josh "QB" Lay</li>
<li>Ricky "Infil" Pusch</li>
</ul>