@using PuzzleHunt.Web
@{
    ViewBag.Title = Html.Title("FAQ");
}

<h2>FAQ</h2><p>
<strong>How can we contact you?</strong><br />
See the @Html.ActionLink("Contacts", "Contacts") page.
</p>

<p>
<strong>There's a mistake in this puzzle!</strong><br />
Orly? Please send an email or AIM message to either Infil or QB explaining where you think the
mistake is. If the mistake is real, we will immediately make the
correction and inform the teams. If it is not a mistake, we will let
you know that you need to keep thinking about the puzzle.
</p>

<p>
<strong>What does the difficulty rating mean?</strong><br />
The difficulty is an attempt at measuring
how many complex or time-consuming steps there are between you and the
final answer. Typically easy puzzles can be solved with just a small
amount of insight and a bit of googling, whereas hard puzzles will
need some solid lateral thinking skills, probably coupled with a large
amount of googling or specific subject research. Do take the
difficulty ratings with a grain of salt, as a puzzle's difficulty can
be easily misjudged, especially by the authors.
</p>

<p>
<strong>When will we know all the answers?</strong><br />
After the hunt is over, full solutions will be posted for each
puzzle. While the hunt is ongoing, you will immediately know if you've
answered correctly by a completion message.
</p>

<p>
<strong>How will we know where we stand in the overall rankings?</strong><br />
After solving a puzzle, you will get to see the leaderboards for that puzzle, including which teams solved, how fast, and with how many hints.
Until you solve a puzzle, the leaderboards remain hidden.
</p>

<p>
<strong>I'm totally, totally stuck. Now what?</strong><br />
At any time, you can request a hint, although doing so will hurt your chances for scoring, so only request a hint when you have no other recourse.
Maybe try taking a break and working on another puzzle.
Usually time away from a puzzle may help you get some fresh eyes on it
later. Have you tried to connect the title to the puzzle yet? Don't
be afraid to try to randomly search the internet for random keywords
or associations based on the puzzle's data, or to do some research on
some concepts which seem central to the puzzle. Ask a friend (not
involved with the hunt of course) or discuss with your teammate
various ideas for what the different elements of the puzzle could
mean. Try to think outside the box where possible. Sometimes you just
have to "look at" the puzzle for a good while until you can come with
some connection. Don't be afraid to scrap your past notions of how
you're "sure" the puzzle must work, which may be keeping you back from
the key insight needed to progress. A surprising amount of progress
can be made simply by asking "What does this look like to you?", and
then following it up with "okay, then what does that imply?"<br/><br/>

It might also be worth checking out puzzles from other hunts for ideas; here's just a few examples:
<ul>
<li><a href="http://elitepuzzlehunt.patrickjohannessen.com/">Elite Puzzle Hunt 2010</a></li>
<li><a href="http://www.maths.usyd.edu.au/u/sums/puzzlehunt/2011/main.html">SUMS 2011 hunt</a></li>
<li><a href="http://www.ms.unimelb.edu.au/~mums/puzzlehunt/">MUMS 2011 hunt</a></li>
<li><a href="http://puzzle.cisra.com.au/">CISRA 2011 hunt</a></li>
</ul>
</p>

<p>
<strong>Your hunt sucks!</strong><br />
Well, we tried our best! If you have suggestions of things to improve, be sure to let us know so we can incorporate it in to the next hunt.
</p>