@using PuzzleHunt.Web
@{
    ViewBag.Title = Html.Title("Rules");
}

<h2>Rules</h2>

<h3>Teams:</h3>
<ul>
<li>Each team consists of a maximum of 2 people. Registration is open to everyone, though a prize will be awarded for the highest-ranking team with a member of the Elite community on it. 
<li>There is to be absolutely no collaboration between members of two
different teams on hunt-related topics. This includes things like
trading answers, giving hints, telling another team that you have or
haven't solved a certain puzzle, or otherwise circumventing the system
that distributes the puzzles/hints. In general, if it feels like
you're cheating, you probably are. Please don't.</li>
<li>Registration is done at the appropriate link on the left sidebar. Once
you have joined a team, you <em>cannot leave it</em>, so pick wisely!</li>
</ul>

<h3>Puzzles</h3>
<ul>
<li>The hunt will be open from Thursday, December 8th at 8:00 pm EST until Thursday, December 15th at 11:59 pm EST. Should members of our community request more time to 
complete puzzles, we will consider extending the hunt an extra day or two.</li>

<li>There are 11 puzzles in this hunt of varying difficulty for you to
solve. They are all available at the start of the hunt, and are
accessed from the puzzles page.
To solve a puzzle, type the case- and spacing-insensitive answer in the
Answers page. You are not penalized for incorrect guesses, and you may
guess as many times as you like for each puzzle. You will be informed if
you have entered the correct answer, and then you can move on to other
puzzles.</li>

<li>Unlike the structure of some other hunts, this hunt is designed to
work on the time schedule of each individual team. When either of the
team members clicks to get access to a puzzle for the first time, a
puzzle-specific timer will start for that team. This timer will be in
effect until you submit the correct answer, at which point it will
stop.

<li>Because of this structure, you can start the puzzle at the most
convenient time for your team, with no negative consequences for
scoring. If you are not here when the hunt starts, or you've solved
all your active puzzles and want to sleep, it will not hurt your
team's chances of scoring points. <strong>Be careful about "just taking a
look" at a puzzle that you don't intend to invest immediate time in
solving, however, as that will start your timer!</strong> It is expected that
both team members will come to an agreement on when to start the timer
for each puzzle, as their schedules allow. <strong>Please be careful about
this</strong>, as there will be a near zero tolerance policy about
restarting timers.</li>

<li>At any time, if you feel you are stuck on a puzzle, you can request a hint by clicking on the button at the bottom. Each puzzle has three hints, each giving
away increasingly more information about the puzzle. However, requesting hints may impact your ability to score points (see Ranking below), so try to solve the
puzzle with as few hints as possible.</li>

</ul>

<h3>Ranking</h3>
<ul>

<li>
<br><br>The ranking for a given puzzle is first decided by how many hints you have requested. A team that solves with 0 hints will always rank higher than
a team that solves with 1 hint. Among teams with the same number of hints, the amount of time <strong>since your last hint</strong> will be used as the tiebreaker.
As such, if you have been attempting to solve a puzzle for a long time, this time will not penalize you by being added to the time on your ranking, should you decide
to request a hint.</li>
<li>The 4 highest ranking teams for a given puzzle at the end of the hunt will receive 8, 6, 4, and 2 points, respectively. Every other team that solved the puzzle
will still receive 1 point. In this sense, even solving a puzzle by requesting all 3 hints is beneficial to your score. You will be able to see
your timers on the Puzzles page, but you will <strong>not</strong> be able to
see any other team's timers until you have completed that puzzle. You won't know until you've solved all the puzzles where you stack up so keep trying: chances are,
if you're stuck on a puzzle, other people are too, so you
may still be able to rank highly on a puzzle. Don't give up!</li>




</ul>

<h3>How to Solve Puzzles</h3>
<ul>
<li>Each puzzle has a title. All puzzles are solvable without the title,
but it may give you some insight on how to proceed at some stage of
the solving process, or it may make sense in retrospect after the
puzzle has been solved. If you are stuck solving a puzzle, consider
trying to deduce some meaning out of the title and how it might
influence the interpretation of the puzzle's data.</li>
<li>The meat of each puzzle will be a seemingly random collection of
information. Unlike traditional puzzles such as crosswords that have a
predictable and well-known structure, the goal of each puzzle in this
hunt is to discover a single hidden word (or phrase) by following a
series of steps using deductive reasoning. You may need to find
patterns in the information presented to you, liken it to traditional
forms of puzzles, or do some research and make some sort of lateral
"leap" based on patterns in the data or the puzzle's layout.</li>
<li>Doing research is not only allowed, it is encouraged and essentially
mandatory. You can use the internet to its fullest extent to help you
solve puzzles. You can use computer programs (such as web anagrammers
or crossword solvers) if you feel that may be important. In fact,
using Google or Wikipedia is almost a mandatory first step for most
puzzles you will see in this or any other hunt. You may ask family and
friends, who may be knowledgable on a particular topic, for their
insight in a puzzle. The only stipulation here is that the person
assisting you: a) is not a member of any other team in the hunt, and
b) has not already assisted another team on the same puzzle. Please
read part b) again.</li>
<li>The puzzles are designed such that you will "know" you are on the
right track, since things should fall into place nicely, and the
puzzle begins to transform towards the ultimate goal of finding a
single word or phrase. As such, when you see certain patterns or
similarities between the data in the puzzle, it is almost certain that
these patterns or similarities are intentional, and you should further
explore what this implies. Noticing these patterns with a keen eye is
important to being a good solver.</li>
<li>It may be difficult for first-time hunters to transform a bunch of
information to a single word. Most puzzles are done in multiple
"steps", such that the first thing to do with the puzzle may not
relate to the final answer at all. If you have an inkling as to what
some information relates to, explore it. Write down your ideas and see
if they come together later. As you explore the puzzle, you will
likely see "how" you are supposed to get a word or phrase out of it.
Don't worry about it at the start. (Note: with words and numbers,
common tricks are to read down the starting letter (or diagonal) of
the words to form new words, or to use numbers to index into matching
words)</li>
<li>Use <a href="http://docs.google.com/">Google Docs</a> spreadsheets to catalog all your thought processes,
and share the document with your teammate. This is an absolutely
imperative way to share all the information you've collected, and it
also is an easy way for one person to work on the puzzle while the
other person is away (he can then just check the spreadsheet later for
any new leads). It's also the perfect way to do joint research so you
always know what has or hasn't been looked at, since the spreadsheet
updates in real time. Start by copying down the puzzle into the
spreadsheet and making notes of what you see, then start filling in
information as need be. Every single team should use Google Docs to
solve these puzzles. Take it from us, your life will be made
substantially easier.</li>
<li>Check out tips on other puzzle sites' help pages, such as:
<a href="http://puzzle.cisra.com.au/guide.php">CiSRA Puzzle Competition Website</a>
They can give important tips for what to do when you are stuck, or how to go
about solving certain types of puzzles.</li>
</ul>

<h3>Website</h3>
<ul>
<li>
Only one website account per hunter is permitted. You must be present in a team before any attempt at
puzzles can be made.
</li>
<li>
As this website has been custom made in order to meet our Hunt requirements, there may still be
some bugs and/or flaws associated with the functionality of the website, despite all efforts to
avoid this. If you believe you have encountered such a problem, particularly if it has somehow
affected the timing, scoring or validity of a puzzle, you are asked are to inform either Infil or
Neo as soon as possible so that the situation can be rectified. Any <em>intentional</em>, <em>malicious</em>
exploitation of such an error will result in a team's immediate disqualification from the hunt.
</li>
</ul>